* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  line-height: 1.6;
  font-size: 1.5rem;

}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  box-shadow: .1rem .1rem .5rem rgba(185, 184, 184, 0.5), -.1rem .1rem .5rem rgba(255, 255, 255, .5);
  padding: 2rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  border-radius: .5rem;
  width: 100%;
}

.form-control .task-input,
.form-control button {
  border: none;
  height: 3rem;
  padding: .5rem 1rem;
  outline: none;
}

.form-control .task-input {
  flex: 6;
  background: #ddd;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
.form-control button {
  flex: 1;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background: rgb(198, 145, 248);
  color: #fff;
  text-transform: capitalize;
  letter-spacing: .1rem;
}

.list-container {
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  text-transform: capitalize;
  font-size: 1.6rem;
  letter-spacing: .1rem;
}

.task-btn {
  display: flex;
  gap: 2rem;
}

.task-btn button {
  font-size: 1.5rem;
  color: rgb(66, 3, 124);
}

.clear-btn {
  border: .1rem solid rgb(198, 145, 248);
  background: rgb(198, 145, 248);
  color: #fff;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  cursor: pointer;
  letter-spacing: .1rem;
}

.alert {
  border-radius: 1rem;
  background-color: rgb(198, 145, 248);
  color: #fff;
  font-weight: bolder;
  letter-spacing: .2rem;
}

.alert-sucess {
  background: rgb(198, 145, 248)
}
.alert-danger {
  background: rgba(156, 31, 0, 0.829);
}
.alert-less-danger {
  background: rgba(252, 105, 68, 0.829);
}